<style>
    .photo {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .available-scroller {
      height: 50px;
    }
</style>

<ion-view view-title="List Series">

    <ion-nav-bar class="bar-royal">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
  <ion-content>

      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
      </ion-refresher>

        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name">
            </label>
            <label class="item item-input">
                <textarea placeholder="comments"></textarea>
            </label>
            <button class="button button-block button-energized">Enviar</button>
        </div>
      <h2>Toggle</h2>
      <label class="toggle toggle-calm">
          <input type="checkbox">
          <div class="track">
              <div class="handle"></div>
          </div>
      </label>

      <h2>Radio Button</h2>
      <h3>Qual melhor série?</h3>
      <ion-list>
          <ion-radio ng-model="choice" ng-value="'A'">
            Orange is the new Black
          </ion-radio>
          <ion-radio ng-model="choice" ng-value="'B'">
            House of Cards
          </ion-radio>
          <ion-radio ng-model="choice" ng-value="'C'">
            The OA
          </ion-radio>
          <ion-radio ng-model="choice" ng-value="'D'">
            Stranger Things
          </ion-radio>
      </ion-list>

      <h2>Range</h2>
      <h3>Aumente ou abaixe o volume</h3>
      <div class="item range">
            <i class="icon ion-volume-low"></i>
          <input type="range" name="volume">
          <i class="icon ion-volume-high"></i>
      </div>

      <h2>Actionsheet</h2>
      <button class="button button-block button-calm" ng-click="show()">Clica em mim, vou te contar um segredo</button>

      <h2>Backdrop</h2>
      <button class="button" ng-click="backdrop()">show backdrop</button>

      <h2>Eventos</h2>
      <button on-hold="onHold()" class="button">Please dont hold me</button>
      <button on-tap="onTap()" class="button">OnTap</button>
      <button on-double-tap="onDoubleTap()" class="button">Double tap</button>
      <button on-touch="onTouch()" class="button">Dont touch</button>
      <button on-release="onRelease()" class="button">Quando vc me soltar...</button>
      <button on-drag="onDrag()" class="button">Drag Queen</button>


      <h2>Options - arraste pra esquerda pra ver</h2>
      <ion-list>
          <ion-item>
            I love kittens!
            <ion-option-button class="button-positive">Share</ion-option-button>
            <ion-option-button class="button-assertive">Edit</ion-option-button>
          </ion-item>

          </ion-list>
    </ion-list>

      <h2>COllection repeat</h2>
      <ion-item collection-repeat="item in items">
        {{item}}
      </ion-item>
      <img ng-repeat="photo in photos"
        width="200px"
        height="200px"
        src="{{photo}}">
      <hr>
      <h2>Available Programming:</h2>
      <ion-scroll direction="x" class="available-scroller">
        <div class="photo" collection-repeat="photo in photos"
           height="50x" width="50px">
           <img src="{{photo}}">
        </div>
      </ion-scroll>



  </ion-content>
</ion-view>
