<ion-view view-title="List Series">
    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
  <ion-content>
    <div class="list">
        <div class="item item-divider">Series</div>

        <a class="item item-icon-left" href="#/tab/list">
            <i class="ion-woman"></i>
            Orange is the New Black
        </a>
        <a class="item item-thumbnail-left">
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/38/Stranger_Things_logo.png" alt="demogorgon">
            <h2>Stranger Things</h2>
            <p>Where is Eleven?</p>
        </a>
        <a class="item item-avatar" href="#/tab/list">
            <img src="http://cdn-static.denofgeek.com/sites/denofgeek/files/styles/main_wide/public/the-oa_66_27.jpg?itok=jT-HrNJE" alt="crazy">
            <h2>The OA</h2>
            <p>Wtf?</p>
        </a>
    </div>
      <div class="card">
          <div class="item item-divider">
            Oi eu sou um card
          </div>
            <div class="item item-text-wrap">
                Vc quer ser meu amigo??
            </div>
          <div class="item item-divider">
            Tchaaau
          </div>
      </div>
  </ion-content>
</ion-view>
