<ion-view view-title="Dashboard">
    <ion-nav-bar class="bar-calm">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>

  <ion-content class="padding">
    <h2>Welcome to Ionic Tutorial</h2>

      <button class="button" ng-click="load()">
          Default
        </button>

        <button class="button button-light">
          button-light
        </button>

        <button class="button button-stable">
          button-stable
        </button>

        <button class="button button-positive">
          button-positive
        </button>

        <button class="button button-calm">
          button-calm
        </button>

        <button class="button button-balanced">
          button-balanced
        </button>

        <button class="button button-energized">
          button-energized
        </button>

        <button class="button button-assertive">
          button-assertive
        </button>

        <button class="button button-royal">
          button-royal
        </button>

        <button class="button button-dark">
          button-dark
        </button>

      <a href="#/tab/list/" class="button button-block button-positive">
          LIST
      </a>
      </a>
      <button class="button button-full button-energized">
          Full Width Block Button
      </button>
      <button class="button button-small button-assertive">
          Small Button
        </button>
        <button class="button button-large button-positive">
          Large Button
        </button>

      <button class="button button-outline button-calm">
          Outlined Button
        </button>

      <button class="button button-clear button-balanced">
          Clear Button
        </button>

      <button class="button">
        <i class="icon ion-loading-c"></i> Loading...
      </button>

    <button class="button icon-left ion-home royal">Home</button>

    <button class="button icon-left ion-star button-dark">Favorites</button>

    <a class="button icon-right ion-chevron-right button-calm">Learn More</a>

    <a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>

    <button class="button icon ion-gear-a assertive"></button>

    <a class="button button-icon icon ion-settings royal"></a>

    <a class="button button-outline icon-right ion-navicon button-balanced">Reorder</a>

  </ion-content>
</ion-view>
